.roomviewsparent {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width: 20rem;
    height: 14rem;
    margin: 10px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}
.hotelinfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
   
    gap:1rem
}
.hotelprice{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap:1rem;
    margin-left: auto;
}
.paginationparent{
    margin-left: 10rem;
    
 }
 .pagination {
     padding: 10px;
     margin: 15px;
     display: flex;
     justify-content: center;
     background-color: gray;
     
 
 }
 
 .pagination>span {
     padding: 15px;
     border: 15px solid grey;
     cursor: pointer;
 }
 .pagination_selected{
     background-color: rgb(220,220,220);
 }

 .hoteldetailparent{
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 80rem;
    height: 14rem;
}
.imageclass{
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
}


.hoteldetail{
    display: flex;
    
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
    gap:1rem
}
.hotelprice{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap:1rem;
    margin-left: auto;
    /* background-color: green; */
}

