.roomviewsparent {
    display: flex;
    flex-direction: row;
    background-color: #ffff;
    width: 80rem;
    height: 15rem;
    margin: 10px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.roomimage {
    margin-top: 0.5rem;
    height: 14.5rem;
    width: 24rem;
   
    margin-left: 1rem;
}
.roomdetailparent {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 2rem;
}

.title {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.sub-title {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.roomprice {
    background-color: #ffff;
    margin-left: 10rem;
    width: 14rem;
    display: flex;
    flex-direction: row;
}

.reviewscore {
    margin-left: 6em;
    margin-top: 1rem;
}

.rating {
    margin-inline: 0.5rem;
    margin-top: 1rem;
}

.roomprice-1 {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-right: 0.5rem;
    margin-top: 5rem;
    font-size: 1rem;
    font-weight: bold;
}
.paginationparent{
    margin-left: 10rem;
    
 }
 .pagination {
     padding: 10px;
     margin: 15px;
     display: flex;
     justify-content: center;
     background-color: gray;
     
 
 }
 
 .pagination>span {
     padding: 15px;
     border: 15px solid grey;
     cursor: pointer;
 }
 .pagination_selected{
     background-color: rgb(220,220,220);
 }

