.roomviewsparent {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width: 20rem;
    height: 14rem;
    margin: 10px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    display: inline;
}
.hotelinfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
   
    gap:1rem
}
.hotelprice{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap:1rem;
    margin-left: auto;
}



.paginationparent{
    margin-left: 10rem;
    
 }
 .pagination {
     padding: 10px;
     margin: 15px;
     display: flex;
     justify-content: center;
     
 
 }
 
 .pagination>span {
     padding: 15px;
     border: 15px solid gray;
     cursor: pointer;
 }
 .pagination_selected{
     background-color: rgb(220,220,220);
 }



 .imageclass{
    width: 20rem;
    height: 20rem;
}
.mobileviewparent{
    width: 600px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    gap: 0.5rem;
    margin:1rem;
    border: 0.2rem solid #7862be;
    display: none;

  }
  .mobileparent::-webkit-scrollbar {
    display: none;
  }
  .mobilehotelname{
    font-size: 1rem;

  }
/* Media Query for the responsiveness*/
@media only screen and (max-width:600px){
    div.roomviewsparent{
        display: none;
        background-color: red;
    }
    div.mobileviewparent{
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 20rem;
    }
   
    .mobilehotelname{
        display: inline;
    }
    .mobilehotelimage{
        height: 5rem;
        width: 10rem;
    }
}

  
  


