.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.bookingparent{
    display: flex;
    width: 25rem;
    height: 35rem;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 2rem;
}
.imagediv{
    width: 10rem;
    height: 10rem;
    margin: 0.5rem;
    display: flex;
}
.img{
    width: 15rem;
    height: 15rem;

}
.detaildiv{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: center;
    margin-left: 0.5rem;
}
.buttondiv{
    display: flex;
    margin-left: 6rem;
    margin-top: 0.6rem;
    margin-right: 2rem;
}
.paynow{
    width: 15rem;
    height: 1.5rem;
    background-color: #af0df4;
    border: none;
}
