.roomviewsparent {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width: 20rem;
    height: 14rem;
    margin: 10px;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.hotelinfo{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
   
    margin-top: 0.5rem;
    gap:1rem
}
.hotelprice{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap:1rem;
    margin-left: auto;
}
.paginationparent{
    margin-left: 10rem;
    
 }
 .pagination {
     padding: 10px;
     margin: 15px;
     display: flex;
     justify-content: center;
     
 
 }
 
 .pagination>span {
     padding: 15px;
     border: 15px solid gray;
     cursor: pointer;
 }
 .pagination_selected{
     background-color: rgb(220,220,220);
 }

