.mainrp{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}
.emailcontentrp{
    text-align: center;
}
.emailinputrp{
    margin-left: 40%;
    margin-top: 0.5rem;
}


.buttonstylerp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: red; */
}
.accountexistrp{
    width: 10rem;
    margin-left: 46%;
    /* margin-top: 2%; */
}





