.checkbox-parentroomviews {
    display: flex; 
    flex-direction: column;
}
.checkbox-containerroomviews {
    display: flex;
    /* Aligns items in a row */
    align-items: center;
    /* Ensures checkbox and text are vertically aligned */
    flex-direction: row;
    gap: 10px;
    
    /* Adds space between the checkbox and the text */
    /* background-color: black; */
}
@media only screen and (max-width:600px){
    .classlabel{
        font-size: 0.6rem;
    
    }
}
